---
import type { GetStaticPaths } from "astro";
import Base from "@/layouts/Base.astro";
import GuestNumber from "@/layouts/components/Guest.jsx";
import { app } from "../../firebase/server";

import { getFirestore  } from "firebase-admin/firestore";




const {nombre} = Astro.params

const db = getFirestore(app);
const docRef = await db.collection('guests').doc(nombre).get()
console.log({docRef})
const {guests, confirmed, maxGuests} = docRef.data()



---
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const elem = document.getElementById('guests')
        console.log(elem)
        document.addEventListener(
            "onChangeGuests",
            (e) => {
                console.log(elem, e)
                elem.value = e.detail.guests
            },
            false,
            );

      });
</script>


<Base>
    <section class="section pt-14">
        <div class="container">
          <div class="row justify-center">
            {confirmed ?  
            
            <div class="mb-16 text-center lg:col-7">
                <h1>Gracias, {nombre} ya confirmaste tu asistencia!</h1>
                <form method="post" action={`/api/guests/${nombre}`} >
                    <input type="hidden" name="confirmed" value="false" />
                    <button  type="submit" class="btn btn-primary">Desconfirmar</button>
                </form>
                </div>
            :<div class="mb-16 text-center lg:col-7">
                <h1>Confirma tu asistencia</h1>
               <h2>{nombre} </h2>
               {maxGuests && maxGuests > 0 ? <GuestNumber maxGuests={maxGuests} guests={guests} client:load/> : null}
               
               <div class="col-span-full mt-5">
                    <form method="post" action={`/api/guests/${nombre}`} >
                    <input type="hidden" name="confirmed" value="true" />
                    <input type="hidden" name="maxGuests" value={maxGuests} />
                    <input type="hidden" id="guests" name="guests" value={guests} />
                    
                        <button  type="submit" class="btn btn-primary">Confirmar</button>
                    </form>
                 </div>
            </div>}
        </div>
    </div>
    </section>

</Base>